.page {
    background-color: black;
    display: flex;
    flex-direction: column;

}

.home-box .box {

    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;

}

.flbox-button1 {
    background-color: rgb(181, 237, 14);
    height: 35px;
    width: 180px;
    border-radius: 10px;
    font-weight: bold;
    border-color: rgb(181, 237, 14);
    margin: 4px;
}

.flbox-button1:hover {
    background-color: #c3f450;
    height: 36px;
    width: 181px;
    
}

.filter-box {
    padding: 15px;
    background-color: #161e16;
    height: 120px;
}
.row1{
    display: flex;
}
.row2{
    display: flex;
    margin-left: 190px;
  
}

.home-box {
    margin-left: 120px;
    max-width: 80%;
    background-color: #050505;
    box-shadow: 0 0 15px -10px #f6f6f6;
    margin-top: 10px;
}

.home-image {
    margin-left: 15px;
    display: flex;
    align-items: flex-start;
}


.btn-1 {
    background-color: #9f9393;
    border-radius: 10px;
    margin-right: 1px;
}

.btn-2 {
    background-color: #9f9393;
    border-radius: 10px;
    margin-right: 1px;
}

h4 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

h5 {
    color: aliceblue;
}